{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    List
{% endblock %}

{% block content %}
{% if username %}
    <h1> Bienvenido, {{ username | capitalize }}</h1>
{% endif %}
    {% if user_ip %}
        <h7>
            Puedes creear items a continuación, cambiarles el estado y borrarlas.
        </h7>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <div class="seccion">
        <div class="article">
            <h2>Crear un nuevo item</h2>
            {{ wtf.quick_form(todo_form) }}
        </div>
    

        <div class="article">
            <h2>Lista de item</h2>
            <ul class="list-group">
                {% for todo in todos %}
                    {{ macros.render_todo(todo, delete_form, update_form) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
